@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --font-geist: "Geist", sans-serif;
    --font-inter: "Inter", sans-serif;
  }

  body {
    font-family: var(--font-sans);
  }
}