@import"https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap";.font-manrope[data-v-dc9df048]{font-family:Manrope,sans-serif}@media(max-width:1024px){h1[data-v-dc9df048]{white-space:normal!important}}
